<div class="container">
    <div class="row mt-3">
        <div class="col-3">
            <div class="card">
                <h5 class="card-header">NZ Esportes</h5>
                <div class="card-body">
                  <h5 class="card-title">E-Commerce</h5>
                  <p class="card-text">
                    E-commerce de artigos esportivos. O projeto está em produção.
                  </p>
                  <a href="https://nzesportes.com.br/" target="_blank" class="btn btn-primary">Ir para o site</a>
                  <p class="mb-0 mt-2"><small><i class="far fa-eye"></i> 200 acessos</small></p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <h5 class="card-header">Calculadora de Juros Compostos</h5>
                <div class="card-body">
                  <h5 class="card-title">Apps</h5>
                  <p class="card-text">
                    Calculadora de juros compostos.
                  </p>
                  <a routerLink='calculadora-juros-compostos' target="_blank" class="btn btn-primary">Ir para Calculadora</a>
                  <p class="mb-0 mt-2"><small><i class="far fa-eye"></i> 200 acessos</small></p>
                </div>
            </div>
        </div>
    </div>
</div>